
<h1> Correo Enviado </h1>

<%= link_to "Volver a cliente", clients_path(client), class: "btn btn-primary waves-effect"  %>

<%= link_to "Ver todos los clientes", clients_path, class: "btn waves-effect waves-light red lighten-3" %>
