
		<div class="row">

			<div class="col s12 m10 l10 main-video-repairs center-align">

				<div id="owl-demo">

				  <div class="item">
						<%= link_to image_tag("ibizanegro/1.jpg"), slider_path('ibizanegro'), {:target => 'blank'} %>
					</div>

					<div class="item">
						<%= link_to image_tag("i10taxi/1.jpg"), slider_path('i10taxi'), {:target => 'blank'} %>
					</div>


					<div class="item">
						<%= link_to image_tag("accordarena/1.jpg"), slider_path('accordarena'), {:target => 'blank'} %>
					</div>


					<div class="item">
						<%= link_to image_tag("golblanco/1.jpg"), slider_path('golblanco'), {:target => 'blank'} %>
					</div>


				</div>

			</div>
		</div>
