
		<div class="row">

			<div class="col s12 m10 l8 main-video-repairs center-align">

				<div id="fb-root"></div>
				<script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
				</script>


				<div class="fb-post hide-on-large-only hide-on-small-only" data-href="https://www.facebook.com/media/set/?set=a.10153240379347335.1073741830.744372334&amp;type=3" data-width="450">
				<div class="fb-xfbml-parse-ignore">
						<blockquote cite="https://www.facebook.com/media/set/?set=a.10153240379347335.1073741830.744372334&amp;type=3">
						<p>Testing</p>Posted by<a href="https://www.facebook.com/abr.gnz">Abraham González Farías</a>on&nbsp;<a href="https://www.facebook.com/media/set/?set=a.10153240379347335.1073741830.744372334&amp;type=3">Tuesday, November 24, 2015</a>
						</blockquote>
					</div>
				</div>

				<div class="fb-post hide-on-med-and-up" data-href="https://www.facebook.com/media/set/?set=a.10153240379347335.1073741830.744372334&amp;type=3" data-width="350">
				<div class="fb-xfbml-parse-ignore">
						<blockquote cite="https://www.facebook.com/media/set/?set=a.10153240379347335.1073741830.744372334&amp;type=3">
						<p>Testing</p>Posted by<a href="https://www.facebook.com/abr.gnz">Abraham González Farías</a>on&nbsp;<a href="https://www.facebook.com/media/set/?set=a.10153240379347335.1073741830.744372334&amp;type=3">Tuesday, November 24, 2015</a>
						</blockquote>
					</div>
				</div>


				<div class="fb-post hide-on-med-and-down" data-href="https://www.facebook.com/media/set/?set=a.10153240379347335.1073741830.744372334&amp;type=3" data-width="650">
					<div class="fb-xfbml-parse-ignore">
						<blockquote cite="https://www.facebook.com/media/set/?set=a.10153240379347335.1073741830.744372334&amp;type=3">
						<p>Testing</p>Posted by<a href="https://www.facebook.com/abr.gnz">Abraham González Farías</a>on&nbsp;<a href="https://www.facebook.com/media/set/?set=a.10153240379347335.1073741830.744372334&amp;type=3">Tuesday, November 24, 2015</a>
						</blockquote>
					</div>
				</div>


			</div>

			<div class="col s12 m10 l8 main-video-repairs center-align">

				<div id="owl-demo">

				  <div class="item"><img src="http://placehold.it/350x350" alt="Owl Image"></div>
				  <div class="item"><img src="http://placehold.it/350x350" alt="Owl Image"></div>
				  <div class="item"><img src="http://placehold.it/350x350" alt="Owl Image"></div>
				  <div class="item"><img src="http://placehold.it/350x350" alt="Owl Image"></div>
				  <div class="item"><img src="http://placehold.it/350x350" alt="Owl Image"></div>
				  <div class="item"><img src="http://placehold.it/350x350" alt="Owl Image"></div>
				  <div class="item"><img src="http://placehold.it/350x350" alt="Owl Image"></div>
				</div>
			</div>
		</div>
