<div class="slider">
 <ul class="slides">
   <li>
     <%= image_tag 'ibizanegro/1.jpg'%>
   </li>
   <li>
     <%= image_tag 'ibizanegro/2.jpg'%>
   </li>
   <li>
     <%= image_tag 'ibizanegro/3.jpg'%>
   </li>
   <li>
     <%= image_tag 'ibizanegro/2.jpg'%>
   </li>
 </ul>
</div>


<script>
  $(document).ready(function(){
       $('.slider').slider({full_width: true});
  });
</script>
